<h2>Organigrama</h2>
<!-- Contenedor de Búsqueda -->
<div class="" style="height: 65px">
  <div class="buscador-container">
    <mat-form-field appearance="outline" class="filter buscador-input">
      <input matInput
             [(ngModel)]="searchText"
             type="text"
             placeholder="Buscar por nombre o cargo…"
             class="input-buscador" />
    </mat-form-field>

    <button mat-flat-button color="primary"
            (click)="buscarNodo(searchText)"
            class="btn-buscar">
      Buscar
    </button>
  </div>
</div>
<div id="organigrama-container">
  <div id="wrapper" class="organigrama-wrapper" #wrapper></div>
</div>
