:root {
  --sidebar-width: 240px;
}
#organigrama-container {
  position: relative;            /* OBLIGATORIO */
  width: 100%;
  height: calc(100vh - 200px);     /* O el alto que necesites */
  overflow: auto !important;
  background: #0f1b2c;
}
/* Contenedor interno para zoom y pan */
.organigrama-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 4000px;
  height: 4000px;
  transform-origin: 0 0;
}
/* estilos de nodos */
.mi-nodo {
  width: 180px;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.item-nodo {
  background: #4CAF50;
  color: #fff;
  border: 1px solid #388E3C;
}

.contrato-nodo {
  background: #1e88e5;
  color: #fff;
  border: 1px solid #1565C0;
}

.rotacion-nodo {
  background: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
}

/* Treant usa .node .name/.title */
.node .name {
  font-weight: bold;
  font-size: 10px;
  display: block;
}

.node .title {
  font-size: 8px;
  display: block;
}

.highlight {
  outline: 3px solid #ff9800 !important;
  background-color: #71787a !important;
  transition: all 0.2s ease-in-out;
}
