
#organigrama-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
/* Contenedor interno para zoom y pan */
.organigrama-wrapper {
  transform-origin: 0 0;
  width: 100vw;
  height: 400px;
}
/* estilos de nodos */
.mi-nodo {
  width: 180px;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.item-nodo {
  background: #4CAF50;
  color: #fff;
  border: 1px solid #388E3C;
}

.contrato-nodo {
  background: #1e88e5;
  color: #fff;
  border: 1px solid #1565C0;
}

.rotacion-nodo {
  background: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
}

/* Treant usa .node .name/.title */
.node .name {
  font-weight: bold;
  font-size: 10px;
  display: block;
}

.node .title {
  font-size: 8px;
  display: block;
}

.highlight {
  outline: 3px solid #ff9800 !important;
  background-color: #71787a !important;
  transition: all 0.2s ease-in-out;
}
